<!-- Nav Bar -->
<nav class="navBorder navbar navbar-light" style="background-color: #ffffff;">
    <h3 class="navTags">Finders Keeper</h3>
    <a class="navTags" href="/">Home</a>
    <a class="navTags" href="/profile">Profile</a>
    <a class="navTags" href="/auth/logout">Logout</a>
</nav>

<h1>Access Denied Go Back Home!</h1>